
<div class="container">
<h1>Balance:<%= @balance%></h1>
<h1>Debt:<%= @debt%></h1>
<h1>Total:<%= @total%></h1>
<table class ="table">
  <tr>
    <th>Data</th>
    <th>Title</th>
    <th>Amount</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @sims.each do |sim| %>
  			<tr>
 				<td><%= sim.date %></td>
	 			<td><%= sim.title %></td>
				<td><%= sim.amount %></td>
				<td><%= link_to 'Edit', edit_sim_path(sim), class: 'btn btn-primary'%></td>
				<td><%= link_to 'Delete', sim_path(sim), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %></td>
	 		</tr>
	
<% end %>

</table>
</div>


